.book-container {
  display: grid;
  grid-template-areas: 
  'head'
  'main'
  'footer';
  justify-content: center;
  margin: 16px 0 0 0;
  width: 600px;
  background-color: rgba(72, 136, 136, 0.685);
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  display: flex;
  justify-content: center;
  border-style: none;
  padding: 0;
  border-radius: 50px;
  height: 32px;
}

.heart-icon-true {
  background-color: red;
  border-radius: 50px;
  height: 32px;
}

.heart-icon-false {
  background-color: gray;
  border-radius: 50px;
  height: 32px;
}

.collected-information {
  padding: 16px 0 16px 0;
  display: grid;
  grid-template-areas: 
  'left mid right';
 justify-content: space-evenly;
  gap: 8px;
  width: inherit;
}

#name {
  font-weight: bold;
  position: relative;
  top: -10px;
}

.review{
  display: grid;
  grid-template-areas: 
  'main'
  'input1'
  'input2';
}
.review-section {
  display: grid;
  height: 200px;
 /* width: 500px; */
  overflow: scroll;
  overflow-x: hidden;
  margin: 16px 0 16px 0;
}

.input-commentary {
  height: 24px;
  min-width: 320px;
  max-width: 500px;
  margin: 0 0 16px 0;
  border-radius: 8px;
  border-style: none;
  box-shadow: 5px 10px 20px rgba(61, 102, 102) inset;
}

.input-user{
  height: 24px;
  width: 160px;
  margin: 0 0 16px 0;
  border-radius: 8px;
  border-style: none;
  box-shadow: 5px 10px 20px rgba(61, 102, 102) inset;

}

header {
  background-color: rgb(25, 63, 75);
  height: 100px;
  display: grid;
  place-items: center;
}

tbody {
  display: flex;
}

.user-nickname {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.user-comment {
  display: flex;
  width: -webkit-fill-available;
  word-break: break-word;
}

.book-card-value {
  width: 64px;
}

.book-details {
  /*width: 240px;*/
}

.book-miscellaneous{
display: grid;
gap: 40px;
}

.input-alert{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  height: 24px;
  width: 320px;
  text-align: center;
  border-radius: 6px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
  0%, 50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (max-width:768px) {
  .book-container {
    display: grid;
    justify-content: center;
    width: 400px;
    border-radius: 8px;
  }


  .input-commentary {


  }

  .review-section {
    width: 400px;
   }

   .collected-information {
  width:400px;
}

}

@media only screen and (max-width:600px) {
  .book-container {
    display: grid;
    place-items: center;
    width: 300px;
    border-radius: 8px;
  }

.review{
  place-items: center;
}
  .input-commentary {
    height: 48px;
    min-width: 224px;

  }

  .review-section {
    width: 300px;
   }

   .collected-information {
    grid-template-areas: 
    'top'
    'mid'
    'bottom';
    place-items: center;
  width:300px;
}

}

